.coin-page{
    margin-top 50px;
    background #f7f7f7;
    min-height 1000px;
    .coin-head{
        background white
        min-height 80px;
        .item{
            display inline-block;
            &.name{
                color #1d3759
                width 300px;
            }
            &.search{
                width 700px;
                input{
                    outline:none ;
                    border-radius 20px;
                    border 1px solid #e3e3e3 ;
                    width 300px;
                }
            }
            &.user{
                width auto;
            }
        }
    }
    .coin-main{
        .coin-left{
            background white
            display inline-block
            margin 10px 20px;
            padding 10px;
            width 300px;
            height: 420px;
            .image-wrap{
                margin-top 20px;
                img{
                    margin 0 30px;
                }
            }
            .summary{
                font-size 13px;
                span{
                    display block;
                    i{
                        //margin-right 10px;
                        min-width 30px;
                    }
                }
            }
        }

        .coin-right{
            flex :1
            min-height 500px;
            margin 10px 20px;
            padding 10px;
            .income-sec{
                margin-bottom 20px;
                .income-card{
                    display flex
                    justify-content center;
                    padding-left 10px;
                    font-size 13px ;
                    font-weight 400;
                    height: 100px;
                    width   200px;
                    border 1px solid #dadada
                    margin-right 10px;
                    border-radius 10px;
                    .big-price{
                        font-size 18px;
                        font bolder
                    }
                }
            }

            @media only screen and (max-width: 850px){
                .income-sec{
                    width 100%;
                    display flex ;
                    flex-direction column !important;
                    .income-card{
                        margin: 0 auto;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1024px){
    .coin-page{
        width 100%;
        .coin-main{
            width 100%;
            display flex ;
            flex-direction column !important
            justify-content center
            .coin-left{
                margin: 0 auto;
                text-align: center;
            }
        }
    }
}