.coin-page {
    //margin-top 50px;
    min-height 1000px;
    .coin-head {
        //background white
        min-height 80px;
        .item {
            display inline-block;
            &.name {
                color #1d3759
                width 300px;
            }
            &.search {
                width 700px;
                input {
                    outline: none;
                    border-radius 20px;
                    border 1px solid #e3e3e3;
                    width 300px;
                }
            }
            &.user {
                width auto;
            }
        }
    }
    .coin-main {
        .coin-left {
            display inline-block
            margin 10px 20px;
            width 300px;
            height: auto;
            .rank {
                border-radius: 9px;
                background: #c6ddff;
                border 1px solid #bdd3f4;
                font-size: 12px;
                padding: 0 3px;
            }
            .image-wrap {
                margin-top 20px;
                display flex;
                justify-content center
            }
            .name {
                font-size 20px;
                font-weight 600;
            }
            .summary {
                font-size 13px;
                span {
                    display block;
                    i {
                        //margin-right 10px;
                        min-width 30px;
                    }
                }
                h5{
                    border-bottom 1px solid #e3e3e3;
                }
                .ov-row{
                    .on-left{
                        float left;
                    }
                    .on-right{
                        float right;
                    }
                }
            }
            .externals-link{
                margin-top 30px;
                .left-content ,.right-content{
                    flex: 1 ;
                    h5{
                        text-align left
                        border-bottom 1px solid #e3e3e3;
                    }
                }
                .site-link{
                    color #525f7f
                }
            }
        }

        .coin-right {
            flex: 1
            width: 100%;
            min-height 500px;
            //margin 10px 20px;
            padding 10px;
            .masternode-stats{
                background white;
                //box-shadow 12px 25px 25px 5px rgba(0,0,0,0.2)
                box-shadow 0 5px 40px rgba(0,0,0,0.2);

                margin-bottom: 30px;
                .stat{
                    border-bottom 1px solid #f6f6f6
                    .left, .right{
                        padding 8px 20px;
                        flex 1 50%;
                        text-align left;
                    }
                }
            }
            .block-info{
                .info{
                    border 1px solid #e3e3e3;
                    border-radius 5px ;
                    background white;
                    box-shadow 0 5px 5px rgba(0,0,0,0.2);
                    padding 5px 10px ;
                    .row-info{
                        overflow auto;
                        div{
                            flex 1;
                        }
                    }
                }
                .block-txs-label{
                    margin-top 30px;
                }
                .txs-list{
                    border 1px solid #e3e3e3;
                    border-radius 5px ;
                    background white;
                    box-shadow 0 5px 5px rgba(0,0,0,0.2);
                    padding 5px 10px ;
                }
                .footer-pg{
                    display none;
                }
            }
            .txs-search {
                border-width: 1px;
                border-style: solid;
                border-color: rgb(236, 239, 241);
                border-image: initial;
                background: rgb(255, 255, 255);
                box-shadow: rgba(17, 51, 83, 0.02) 0px 4px 12px 0px;
                outline none;
                border-radius: 4px;
                position relative
                margin-bottom 10px;
                .txs-input {
                    outline none;
                    width 100%;
                    min-width 300px;
                    border none
                    padding: 20px 32px;

                }
                .txs-search-btn {
                    position absolute
                    width 80px;
                    right 15px;
                    top 50% ;
                    transform translate(0,-50%)
                    background #1e47f8
                    border 1px solid #1d45ef
                    border-radius 5px;
                    color white;
                    margin-left 10px;
                }
            }



            .income-sec {
                margin-bottom 20px;
                justify-content center;
                .income-card {

                    box-shadow:6px 6px 15px 0 rgba(17,51,83,0.2);
                    display flex
                    justify-content center;
                    padding-left 10px;
                    font-size 13px;
                    font-weight 400;
                    height: 100px;
                    width 200px;
                    border 1px solid #dadada
                    margin 5px;
                    border-radius 10px;
                    .big-price {
                        font-size 18px;
                        font bolder
                    }
                }
            }

            @media only screen and (max-width: 850px) {
                .income-sec {
                    width 100%;
                    display flex;
                    flex-direction column !important;
                    .income-card {
                        margin: 0 auto;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1024px) {
    .coin-page {
        width 100%;
        .coin-main {
            width 100%;
            display flex;
            flex-direction column !important
            justify-content center
            .coin-left {
                margin: 0 auto;
                text-align: center;
            }
        }
    }
}