// inject:all
@import "../../../src/client/app/address-wallet/address-wallet.styl";
@import "../../../src/client/app/block-page/block-info/block-info.styl";
@import "../../../src/client/app/block-page/block-page.styl";
@import "../../../src/client/app/block-page/transactions-list/transactions-list.styl";
@import "../../../src/client/app/coin-page/coin-page.styl";
@import "../../../src/client/app/common/input-form/input-form.styl";
@import "../../../src/client/app/common/input-form/input-form2.styl";
@import "../../../src/client/app/common/input-form/select-form/select-form.styl";
@import "../../../src/client/app/common/input-form/text-area-form/text-area-form.styl";
@import "../../../src/client/app/common/loading/loading-panel/loading-panel.styl";
@import "../../../src/client/app/common/loading/loading.styl";
@import "../../../src/client/app/common/modal/confirm-modal/confirm-modal.styl";
@import "../../../src/client/app/common/modal/info-modal/info-modal.styl";
@import "../../../src/client/app/common/modal/modal.styl";
@import "../../../src/client/app/common/select-option/select-option.styl";
@import "../../../src/client/app/common/select/select.styl";
@import "../../../src/client/app/common/select/select2.styl";
@import "../../../src/client/app/common/tool-tip/tool-tip2.styl";
@import "../../../src/client/app/component/app-layout/app-header/app-header-2.styl";
@import "../../../src/client/app/component/app-layout/app-header/app-header.styl";
@import "../../../src/client/app/component/app-layout/app-header/select-country/select-country.styl";
@import "../../../src/client/app/component/app-layout/app-layout.styl";
@import "../../../src/client/app/component/app-layout/search-area/search-area.styl";
@import "../../../src/client/app/component/app-layout/theme.styl";
@import "../../../src/client/app/component/demo/demo.styl";
@import "../../../src/client/app/component/demo/test.styl";
@import "../../../src/client/app/component/high-chart-line/high-chart-line.styl";
@import "../../../src/client/app/component/line-chart/line-chart.styl";
@import "../../../src/client/app/component/pagination-table/pagination-table.styl";
@import "../../../src/client/app/component/pagination-table/pagination/pagination.styl";
@import "../../../src/client/app/component/small-line-chart/small-line-chart.styl";
@import "../../../src/client/app/component/switch-tabs/switch-tabs.styl";
@import "../../../src/client/app/explorer-page/explorer-page.styl";
@import "../../../src/client/app/home-page/home-page.styl";
@import "../../../src/client/app/home-page/search-exp/search-exp.styl";
@import "../../../src/client/app/login/login.styl";
@import "../../../src/client/app/main-routes.styl";
@import "../../../src/client/styl/base/color.styl";
@import "../../../src/client/styl/base/common.styl";
@import "../../../src/client/styl/base/font-size.styl";
@import "../../../src/client/styl/base/fonts.styl";
@import "../../../src/client/styl/base/utils.styl";
@import "../../../src/client/styl/main.styl";
// endinject

no-select() {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}
