.block-info{
    .block{
        border: 1px solid #e3e3e3;
        border-radius: 5px;
        background white;
        box-shadow: 0 5px 40px rgba(0,0,0,0.2);
        padding: 20px ;
        flex-wrap wrap;
        .sec-ct{
            width 50%;
            display: flex;
            justify-content: space-between;
            padding 10px;
            position relative ;
            border-bottom 1px solid #e3e3e3;
            .hash{
                word-wrap: break-word;
                overflow auto;
                cursor pointer;
                color: #5e72e4;
            }
        }
    }
    @media only screen and (max-width: 768px){
        .block{
            .sec-ct{
                width 100%;
            }
        }
    }
}
