.home-page{
    //width 1200px;
    margin 0 auto;
    min-height 1000px;
    overflow auto
    .cards{
        justify-content center
        margin-bottom 50px;
        min-height 194px;
        flex-wrap wrap;
        .info-card{
            padding: 20px 40px;
            border: 1px solid #e3e3e3;
            border-radius: 10px;
            margin 5px 10px;
        }
    }
    .txs-search{
        width 100%;
        border-width: 1px;
        border-style: solid;
        border-color: rgb(236, 239, 241);
        border-image: initial;
        background: rgb(255, 255, 255);
        box-shadow: rgba(17, 51, 83, 0.02) 0px 4px 12px 0px;
        left 50%
        outline none;
        border-radius: 4px;
        display flex ;
        flex-direction row ;
        justify-content flex-start;
        align-items center;
        margin-bottom 20px;
        .fa-search{
            font-size 30px;
            padding: 5px 10px 5px 30px;
        }
        .txs-input{
            outline none;
            //width 100%;
            flex 1;
            min-width   300px;
            border none
            padding: 20px 32px;

        }
    }
    .pagination-table-cover{
        margin-top 50px;
        table{
            td{
                height 60px;
                .cell{
                    &.vote{
                        i{
                            font-size 20px ;
                            margin-right 20px
                            &.voted{
                                color #14b148

                                //color #df3d34
                            }
                        }
                    }
                    &.name{
                        display flex;
                        flex-direction row ;
                        justify-content start ;
                        justify-items center
                        .img-cover{
                            margin-right 20px;
                        }
                        .info{
                            line-height 25px ;
                            height 25px;
                        }
                    }
                    //&.percent{
                    //}
                    &.price{
                        color #0c85d0;
                        &:hover{
                            text-decoration underline
                        }
                    }

                }
                .apexcharts-canvas{
                    width auto !important
                }
                .apexcharts-toolbar, .apexcharts-xaxis,.apexcharts-gridlines-horizontal{
                    display none
                }
                //.apexcharts-grid{
                //    line{
                //        display none;
                //    }
                //}
            }
        }
    }

    //.chart {
    //    background: white;
    //    width: 150px;
    //    height: 40px;
    //    //border-left: 1px dotted #555;
    //    //border-bottom: 1px dotted #555;
    //    //padding: 20px 20px 20px 0;
    //}
    //.line-chart
    //{
    //    border: 1px solid lightgray;
    //}

}

span.up{
    padding 2px 10px;
    background: #00a800 ;
    color white;
    border-radius 10px;
}
span.down{
    padding 2px 10px;
    background: #ff3905;
    color white;
    border-radius 10px;
}