.explorer-page{
    margin: 0 auto;
    .search-panel{
        width 100%;
        margin-bottom 20px;
        .search-btn{
            border 1px solid #0b84c0;
            background #0cabf8
            padding 0 10px;
            margin-left 10px;
            border-radius 5px;
            color white;
        }
    }

    table{
        tr{
            td{
                padding none ;
                padding 10px 5px !important
            }
        }
    }
}