.app-layout{
    width 100%;
    .search-panel{
        margin-top  10px !important
        .search-area{
            float right
        }
    }

    .child-cover{
        width 1200px;
        min-height 30px;
        margin 0 auto;
    }
    .main-background{
        background white;
    }
}


//div, button,h1,h3,h2,h4,h5,tr,td,thead,tbody,ul,li,section{
//    background #292a36 !important;
//    color white !important
//}