.app-layout{
    width 100%;
    .main-son{
        padding 20px 5px 0 5px;
    }
    .child-cover{
        width 1400px;
        margin 0 auto;
    }
    .main-background{
        background white;
    }
}
@media only screen and (max-width: 1200px){
    .app-layout{
        .child-cover{
            width 100%;
        }
    }
}

//div, button,h1,h3,h2,h4,h5,tr,td,thead,tbody,ul,li,section{
//    background #292a36 !important;
//    color white !important
//}