.main-head{
    .app-header-2{
        .head-left{
            align-items center;
            justify-content start;
            font-size 13px;
            .head-item{
                display inline-block;
                margin-right 10px;
                .text{
                    color #5e72e4;
                    font normal;
                }
            }
        }

        .head-right{
            font-size 13px !important
            flex 1 ;
            justify-content flex-end
        }
    }

    .page-direct{
        align-items center;
        padding-bottom 10px ;
        border-bottom 1px solid #f1f1f1
        .web-name{
            font-size 30px ;
            font-weight 700;
            padding 25px 0;
        }
        .drr{
            color #525f7f !important
            padding 5px 1px;
            margin 0 5px;
            &.act{
                border-bottom 1px solid #292929
            }
        }
    }
}